/**
 * FacetAPI Collapsible structural styles.
 */
.block-facetapi h2 {
    padding: 10px 15px !important;
}
.block.facetapi-collapsible ul.facetapi-collapsible ul {
  display:none;
}
.block.facetapi-collapsible ul.facetapi-collapsible ul:not(.collapse) {
  display:block;
}
/**
 * FacetAPI Collapsible Block Titles & Toggle
 */
.block.facetapi-collapsible h2.block-title {
  cursor: pointer;
}
.block.facetapi-collapsible h2.block-title .toggle {
  background: url(../img/expand.png) no-repeat 0 0 transparent;
  display: block;
  float: right;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

/**
 * FacetAPI Collapsible facet tree and handle.
 */

.facetapi-collapsible li {
  list-style-type: none;
}

/**
 * Other facets styles
 */
.facet-count {
  float: right;
  color: #777;
}
