<div class="table-responsive" style="overflow:visible;">
    <div ng-if="!ctrl.isArray(final_content)" class="loader-autocomplete">&nbsp;</div>
    <table class="table" ng-class="{'table-hover': ctrl.isClickable()}">
        <thead>
             <tr>
                <th>
                </th>
            </tr>
        </thead>
        
         <tbody ng-if="ctrl.isArray(final_content)">
            <tr ng-repeat="row in final_content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td>
                    
                <div class="task_in_todoliste" style="background-color: #f9f9f9;border: 1px solid #eee;list-style: none;padding: 17px 9px 12px;position: relative;" >
                    <div class='task_in_todoliste' style='padding-left:70px;'>
						<span style='background-color: {{row.deadline_color}};position: absolute;margin-left: -70px;margin-top: -5px;height: 30px;width: 30px;'>
							<i class='fa {{row.icon}} fa-2x' style='color:white;margin-top:1px;margin-left:{{row.margin}}px;'></i>
					</span>
                    <div style="float:right;">
                       <span ng-bind-html="row.actor" class="ng-binding ng-scope card-text actor_container" style="display: inline-block;clear:both;"></span> 
                    </div>
                    <div style="padding-left:20px;">
                        <div class="row">
                            <span style="color:#337ab7;width:25%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;" title='{{"label.process_title" | gfTranslate}}'>
                                <i class="fa {{row.fa_state}}"></i>
                                <span class="card-title">{{row.state}}</span>
                            </span>
                            <span style="color:#337ab7;font-weight: bold;width:28%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;">
                                <i class="fa fa-play"></i>
                                <span class="card-subtitle mb-2 text-muted">{{row.title | gfTranslate}}</span>
                            </span>
							<div class="deadline_box_in_rapide_todoliste" style="max-width:125px;max-height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;">
                                <i class="fa fa-calendar"></i> <span title='{{"label.process_start_date" | gfTranslate}}'>{{row.start|date:"dd/MM/yyyy"}}</span>
                            </div>
                            <div class="deadline_box_in_rapide_todoliste" style="font-weight:bold;cursor:pointer;width:125px;text-align:center;px;max-height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;">
                                <i ng-if="row.has_deadline" class="fa fa-check" style="color:{{row.deadline_color}};"></i> <span style="color:{{row.deadline_color}};" title='{{"label.process_deadline" | gfTranslate}}'>{{row.done|date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group" style="margin: 0 auto;display: table;">
        <button page="{{page.number}}" id="page_{{page.number}}" ng-click='change_page($event);' ng-repeat="page in pagination" type="button" class="btn btn-default {{page.btn_class}}" aria-haspopup="true" aria-expanded="false" style="background-color:#fff;color:#337ab7;">
           {{page.label}}
        </button>
    </div>
</div>

<style>
.loader-autocomplete{
    border:3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    width:50px;
    height:50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin-loader 2s linear infinite;
    margin: 0 auto;

}

@keyframes spin-loader{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.btn_active{
    background-color:#337ab7!important;
    color:#fff!important;
}

.table{
    margin-bottom:2px!important;
}
</style>