TABLE.cmis_browser_browse_children li {
	list-style: none; 
	display: inline; 
	list-style-position: outside; 
	padding: 0;
}

TABLE.cmis_browser_browse_children li a { display:inline !important; }

TABLE.cmis_browser_browse_children .load_indicator { 
  background-image: url(../../../../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 0 80%;
  padding-left: 18px;
}