<div class="table-responsive" style="overflow:visible;">
    <div ng-if="!ctrl.isArray(final_content)" class="loader-autocomplete">&nbsp;</div>
    <table class="table" ng-class="{'table-hover': ctrl.isClickable()}">
        <thead>
             <tr>
                <th>
                </th>
            </tr>
        </thead>
        
         <tbody ng-if="ctrl.isArray(final_content)">
            <tr style="cursor:auto;background-color:white;" ng-repeat="row in final_content" ng-click="ctrl.selectRow(row)" ng-class="">
                <td>
                    
                <div class="task_in_todoliste" style="list-style: none;position: relative;" >
                    <div class='task_in_todoliste' style='' title="{{row.deadline_description}}">
                    <div style="background-color:white;">
                        <div class="row">
                            <div style="float:left;color:#777;font-weight: bold;width:30%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;" title='{{row.alt_title | gfTranslate}}'>
                                <i class="fa {{row.type_icon}}"></i>
                                <span class="card-title">{{row.title}}</span>
                            </div>
                            <div style="float:left;color:#777;font-weight: bold;width:60%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;" title='{{row.displayDescription | gfTranslate}}'>
                                <i class="fas fa-flag-o"></i>
                                <span class="card-subtitle mb-2 text-muted">{{row.displayDescription | gfTranslate}}</span>
                            </div>
                            
                           <div ng-bind-html="row.actor" class="ng-binding ng-scope card-text actor_container" style="display: inline-block;float:right;"></div> 
                    
                        </div>
                        <div class="row">
                            <div>
                                <div class="deadline_box_in_rapide_todoliste" style="float:left;width:30%;max-height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;">
                                   <i ng-if="row.has_process_end_date" class="fas fa-calendar"></i> <span ng-if="row.has_process_end_date" style="font-weight: bold;" title='{{"label.process_end_date" | gfTranslate}}'>{{row.process_end_date|date:"dd/MM/yyyy"}}</span>
                                </div>
                                <div class="deadline_box_in_rapide_todoliste" style="font-weight:bold;float:left;width:30%;max-height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display: inline-block;">
                                   <i ng-if="row.has_deadline" class="fas fa-clock-o" style="color:#337ab7;"></i> <span ng-if="row.has_deadline" style="color:{{row.deadline_color}};" title='{{"label.process_deadline" | gfTranslate}}'>{{row.deadline|date:"dd/MM/yyyy"}}</span>
                                </div>
                                
                                <div class="deadline_box_in_rapide_todoliste" style="float:left;max-width:38%;max-height:22px;margin-left:0px;overflow:hidden;word-break:break-all;">
                                     <div ng-bind-html="row.documents" class="ng-binding ng-scope card-text document_container"></div>
                                </div>
                                <div id="wf-buttons" style="float: right;margin-top: 5px;">
                                    <span ng-if="row.is_eligible" class="gofast_workflows_title_task_doit" style="cursor:pointer;" ng-click='ctrl.selectRow(row);ceo_vision_js_task_doit($event);' title='{{"label.process_doit" | gfTranslate}}'>
                                        <button type="button" class="btn btn-default wf-button wf-button-green" style="padding:1px 6px;width:22px;color: #2ecc71;">
                                            <span class="fas fa-play gofast_wf_link"></span>
                                        </button>
                                    </span>
                                    <span ng-if="row.can_delegate_task" class="gofast_workflows_title_task_doit" style="cursor:pointer;" ng-click='ctrl.selectRow(row);ceo_vision_js_task_delegate();' title='{{"label.process_delegate" | gfTranslate}}'>
                                        <button type="button" class="btn btn-default wf-button wf-button-orange" style="padding:1px 6px;color: #ffa800;">
                                            <span class="fas fa-users-cog gofast_wf_link"></span>
                                        </button>
                                    </span>
                                    <span style="cursor:pointer;" ng-click='ctrl.selectRow(row);ceo_vision_js_process_pageflow();'>
                                        <button type="button" class="btn btn-default wf-button wf-button-blue" style="padding:1px 6px;width:22px;color: #337ab7;">
                                            <span class="fas fa-info gofast_wf_link"></span>
                                        </button> 
                                    </span>
                                    <span ng-if="row.can_delete" class="gofast_workflows_title_task_doit" style="cursor:pointer;" ng-click='ctrl.selectRow(row);ceo_vision_js_task_delete();' title='{{"label.process_delete" | gfTranslate}}'>
                                        <button type="button" class="btn btn-default wf-button wf-button-red" style="padding:1px 4px;width:22px;color: red;">
                                            <span class="fas fa-trash gofast_wf_link"></span>
                                        </button>
                                    </span>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group" style="margin: 0 auto;display: table;">
        <button page="{{page.number}}" id="page_{{page.number}}" ng-click='change_page($event);' ng-repeat="page in pagination" type="button" class="btn btn-default {{page.btn_class}}" aria-haspopup="true" aria-expanded="false" style="background-color:#fff;color:#337ab7;">
           {{page.label}}
        </button>
    </div>
</div>

<style>
.loader-autocomplete{
    border:3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    width:50px;
    height:50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin-loader 2s linear infinite;
    margin: 0 auto;

}

@keyframes spin-loader{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.btn_active{
    background-color:#337ab7!important;
    color:#fff!important;
}

.table{
    margin-bottom:2px!important;
}
</style>