/*** Blocs Header GoFast ***/

#block-gofast-menu-gofast-menu-icons{
  height:37px;
  float:left;
}

.gofast-blocks-wrapper{
  float:left;
}

.gofast-block{/*  url("/sites/all/modules/fbsmp/images/icon_tool_arrow.png") no-repeat scroll left bottom transparent */
  float:left;
  min-height:10px;
  min-width:35px;
  width: 55px;
  padding:12px 5px 12px 5px;
  cursor:pointer;
  position: relative;
}

.gofast-magical-menu{
  text-align: center;
  float:left;
  min-height:10px;
  min-width:35px;
  width: 55px;
  padding:12px 5px 12px 5px;
  cursor:pointer;
  position: relative;
}
.gofast-magical-menu #block-views-gofast-recently-read-block{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gofast-magical-menu:hover > .fa-bars{
  color: #ddd;
}

.gofast-block .views-widget-filter-subject {
  clear:both;
}

.badge-notify {
  background:#DA292F !important;
  position:absolute;
}

.badge-notify-menu {
  top: 7px;
  left: 35px;
}

.pinned{
  opacity: 0;
  color:#DA292F;
  position:relative;
  top: -40px;
  left: 10px;
}

#admin_options:after,
#async_recently_read:after{
    content:none;
}

.block-recently-read-title{
    margin-top: 0;
    font-size: 1.2em;
    color: #777;
    border-bottom: 1px solid #cecece;
}

@media (max-width: 991.98px) {
    #kt_header,
    #kt_header_mobile_toggle,
    #kt_header_mobile_topbar_toggle,
    .is_mobile #riot {
        display: none;
    }
}

.navi-item .navi-link .navi-icon {
    text-align: center;
} 

.menu-svg-img{
  filter :invert(96%) sepia(2%) saturate(5058%) hue-rotate(187deg) brightness(85%) contrast(75%);
}

.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .menu-svg-img{
  filter :invert(52%) sepia(24%) saturate(6419%) hue-rotate(193deg) brightness(105%) contrast(101%);
}

@media (min-width: 992px){
  .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav>.menu-item>.menu-link>.menu-icon .menu-svg-img{
    filter: invert(100%) sepia(2%) saturate(28%) hue-rotate(206deg) brightness(104%) contrast(71%);
  }
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-icon .menu-svg-img{
  filter: invert(34%) sepia(17%) saturate(837%) hue-rotate(188deg) brightness(92%) contrast(96%);
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon .menu-svg-img{
  filter: invert(50%) sepia(80%) saturate(2219%) hue-rotate(190deg) brightness(101%) contrast(101%);
}

.context-menu-svg-img > .navi-icon{
  filter :invert(96%) sepia(2%) saturate(5058%) hue-rotate(187deg) brightness(85%) contrast(75%);
}

.context-menu-svg-img:hover > .navi-icon{
  filter :invert(52%) sepia(24%) saturate(6419%) hue-rotate(193deg) brightness(105%) contrast(101%);
}
