/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 nov. 2017, 10:14:59
    Author     : sandra
*/


.gf-retention-form.gf-retention-form-hidden{
  visibility: hidden;
  display : none;
}
