/* Static View-only Star Version */
.fivestar-minimal div.fivestar-widget-static .star {
    width: 13px;
    height: 15px;
}

.fivestar-minimal div.fivestar-widget-static .star span.on {
  background: url(/sites/all/themes/bootstrap-keen/img/Star_grey.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.fivestar-minimal div.fivestar-widget-static .star span.off {
  background: url(/sites/all/themes/bootstrap-keen/img/Star_grey.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

/* Javascript Star Version */
.fivestar-minimal div.fivestar-widget .cancel,
.fivestar-minimal div.fivestar-widget .star {
    width: 13px;
    height: 15px;
}
.fivestar-minimal div.fivestar-widget .cancel,
.fivestar-minimal div.fivestar-widget .cancel a {
  background: url(/sites/all/themes/bootstrap-keen/img/Close_red.svg);

  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.fivestar-minimal div.fivestar-widget .star,
.fivestar-minimal div.fivestar-widget .star a {
  background: url(/sites/all/themes/bootstrap-keen/img/Star_grey.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.fivestar-minimal div.fivestar-widget div.on a {
  background: url(/sites/all/themes/bootstrap-keen/img/Star_blue.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}
.fivestar-minimal div.fivestar-widget div.hover a,
.fivestar-minimal div.rating div a:hover {
   background: url(/sites/all/themes/bootstrap-keen/img/Star_black.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}
