/* Theme AGS */

body{ /* Set background */
  background-color: #f2fbff !important;
}

.navbar-inverse{ /* Main menu and panel headings */
  background-color: #0078a0;
}

.navbar-nav > li > a, .gofast-magical-menu>.fa-bars, .gofast-about-btn > .fa-question-circle, #block-gofast-menu-gofast-menu-icons, #gofast-lang-switch a{ /* Set default text /icons color in the menu */
  color: #ffffff !important;
}

#gofast_nav>.navbar-nav>.open>a { /* Color and BG color when hover menu (text) */
    background-color: #006587 !important;
    color: #c9c9c9 !important;
}

.gofast-magical-menu:hover>.fa-bars, .gofast-about-btn:hover > .fa-question-circle, .gofast-blocks-wrapper > div:hover, #gofast-lang-switch a.current { /* Color when hover menu (icons) */
    color: #c9c9c9 !important;
}

.open > a{ /* Set color of opened items in the menu */
  color: #0078a0 !important;
}

.navbar-inverse .navbar-nav > li > a{
  background-color: #0078a0 !important;
}

.modal-header{ /* Popup header */
  background-color: #0078a0;
  
}
.modal-header > button.close, .modal-title{
  color: #c9c9c9;
  opacity: 1;
}

body{ /* Font color */
    color: #3b3b3b;
}

.region-sidebar-second .block, #activity-feed-container, .breadcrumb, .well { /* Background color of blocks */
    background-color: #ebf3f7;
}

 .panel-default>.panel-heading{ /* Accented color of panel headings */
    background-color: #e2ecf0;
}