/* Theme INSA */

body{ /* Set background */
  background-image: url('/sites/default/files/fond-gofast.png') !important;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom; 
}

.navbar-inverse{ /* Main menu and panel headings */
  background: #f2f2f2;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 190px, rgba(242,242,242,1) 190px);
}

.navbar-nav > li > a, .gofast-magical-menu>.fa-bars, .gofast-about-btn > .fa-question-circle, #block-gofast-menu-gofast-menu-icons, #gofast-lang-switch a{ /* Set default text /icons color in the menu */
  color: #4f4d50 !important;
}

#gofast_nav>.navbar-nav>.open>a { /* Color and BG color when hover menu (text) */
    background-color: #f2f2f2 !important;
    color: #e42618 !important;
}

.gofast-magical-menu:hover>.fa-bars, .gofast-about-btn:hover > .fa-question-circle, .gofast-blocks-wrapper > div:hover, #gofast-lang-switch a.current { /* Color when hover menu (icons) */
    color: #e42618 !important;
}

.open > a{ /* Set color of opened items in the menu */
  color: #e42618 !important;
}

.navbar-inverse .navbar-nav > li > a{ /* menu links color */
  background-color: #f2f2f2 !important;
  color: #878787 !important;
}

.modal-header, 
.panel-default>.panel-heading,
.panel-default>.panel-heading>.panel-title,
.panel-default>.panel-heading>.panel-title>a,
.panel-dashboard>.panel-heading > div > div > a > span,
.block-facetapi > .block-title,
.popover-title{ /* Panels heading colors and background */
  background-color: #4A5358 !important;
  color: white !important;
  opacity: 1;  
}

.block-facetapi > ul.facetapi-collapsible{ /* Search panels */
    background-color:white;
}

.modal-header > button.close, .modal-title{ /* Modify color of panel headers */
  color: white;
  opacity: 1;
}

body{ /* Font color */
    color: #3b3b3b;
}

.jsxc-roster-item > .jsxc-avatar{ /* JSXC not subscribed color */
    background-color: #7f9798 !important;
}

.jsxc-roster-item[data-subscription = "both"] > .jsxc-avatar{ /* JSXC subscribed color */
    background-color: #004D70 !important;
}

.region-sidebar-second .block, #activity-feed-container, .breadcrumb, .well { /* Background color of blocks */
    background-color: #f9f9f9;
}

a, .panel-title>a.selected, .pagination>li>a, .pagination>li>span, a>span{ /* Pagination */
    color: #004D70 !important;
}

.panel, .panel-heading, .panel-body,
.modal-header, .modal-content{ /* Unset panels border radius */
    border-radius: 0px;
}

.btn-success{ /* Change success button color */
    background-color: #ef3125;
    border-color: #ccc;
}

.btn-success:hover{ /* Change success button hover color */
    background-color: #e02f24;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{ /* Pagination */
    background-color: #004d70 !important;
    color: white !important;
    font-weight: bold;
}