/* Theme LNE */


.gofast-blocks-wrapper > div{ /* Accent menu icons color if needed*/
  color: #FFA500;
}

.block-path:hover{
    color: #FA192D;
}

#gofast-lang-switch a.current{
  color: #FFA500;
}
.navbar-inverse .navbar-nav > li > a{
  color: #FFA500 !important;
}
.navbar-inverse .navbar-nav > li a:hover{
  color: #FFF !important;
}
.navbar-inverse .navbar-nav > .open > a, .nav .open > a{
  color: #FFA500 !important;
}
.modal-header{ /* Popup header */
  background-color: #fff;
  
}
.modal-header > button.close, .modal-title{
  color: #777;
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.gofast-about-btn:hover > .fa-exclamation-circle {color: #FFF;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.gofast-about-btn > .fa-exclamation-circle {color: #FFA500;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.gofast-about-btn:hover > .fa-question-circle{color: #FFF;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.gofast-about-btn > .fa-question-circle {color: #FFA500;}